@model Lulus.ViewModels.Order.CurrentCartRespond
<style>
    .cart {
        margin-top: 10px;
        margin-left: 20%;
        margin-right: 20%;
    }
</style>
<div class="cart">
    <p hidden>@Model.Order_ID</p>
    <h2>My Cart</h2>
    <p>@Model.DetailCount products</p>
    @{double count = 0;}
    @if (Model.DetailCount == 0)
    {
        <p>Empty cart</p>
    }
    else
    {
        <a asp-controller="Cart" asp-action="ClearCart" asp-route-orderID="@Model.Order_ID">Clear cart</a>
        @foreach (var item in Model.OrderDetails)
        {
            count += item.Product_SellPrice;
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <h4>@item.Product_Name</h4>
                        <p>@item.Product_SellPrice$</p>
                        <p>Size @item.SizeKey</p>
                        <p>Quantity:  
                            <form asp-action="ChangeQuantity" asp-controller="Cart" method="post">
                                <input name="Id" value="@item.OrderDetail_ID" hidden/>
                                <input value="@item.OrderDetail_Quantity" name="Quantity"/>
                                <button type="submit">Update</button>
                            </form>
                        </p>

                    </div>
                    <div class="col-md-2">
                        <img src="@item.Product_Image" width="100%" height="100%" />
                    </div>
                </div>
                <div class="row"><a class="text-danger" asp-controller="Cart" asp-action="RemoveProduct" asp-route-orderDetailID="@item.OrderDetail_ID">Remove</a></div>
            </div>
            <hr />
        }
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <p>Total:</p>
                </div>
                <div class="col-md-2">
                    <h3 style="text-align:right">@count$</h3>
                    <a href="#" class="btn btn-dark">Checkout</a>
                </div>
            </div>
        </div>
    }
</div>